#body{
    /*----------header--------------*/
    .header{
        background:#fc6a26;
        width:100%;
        position: fixed;
        top:0;
        left:0;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        padding:10px 0;
        color:#fff;
        .active{
            color:#555;
            font-size:16px;
        }
        .top_tab{
            flex: 1;
            -webkit-flex: 1;
            -webkit-box-flex: 1;
            text-align: center;
            font-size: 14px;
            border-right: 1px solid #f8f8f8;
        }
        .top_tab:nth-child(5){
            border-right: none;
        }
    }
    /*----------list start--------------*/
    .list{
        margin:45px 0;
        li{
            padding:12px 10px;
            font-size: 16px;
            border-bottom:2px solid #ddd;
            p.title{
               white-space: nowrap;
               text-overflow:ellipsis; 
               overflow:hidden; 
            }
            .item_bot{
                width:100%;
                margin-top:8px;
                display: flex;
                display: -webkit-box;
                display: -webkit-flex;
                font-size:12px;
                color:#808080;
                img.pic{
                    width:30px;
                    height:30px;
                    display: inline-block;
                }
                .item_rt{
                    vertical-align: top;
                    flex: 1;
                    -webkit-flex: 1;
                    -webkit-box-flex: 1;
                    padding:0 15px;
                    .item_top{
                        width:100%;
                        height:18px;
                        vertical-align: top;
                        span.rt{
                            float:right;
                        }
                    }
                }
            }
        }
    }
    /*----------list end--------------*/
     /*----------footer start--------------*/
    .fixed_footer{
        height:45px;
        background:#fc6a26;
        position: fixed;
        bottom:0;
        width:100%;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        .on{
            background:#f7a681;
        }
        .aTab{
          flex: 1;
           -webkit-flex:1;
           -webkit-box-flex: 1; 
           text-align: center; 
           i{
               width:20px;
               height:20px;
               display: block;
               margin:2px auto;
               background:url(../images/common/index.png) no-repeat;
               background-size:100% 100%;
           } 
           span{
                display:block;
                width:100%;
                height:15px;
                font-size:14px;
                text-align: center;
                color:#fff;
           }
        }
        .aTab:nth-child(2) i{
           background:url(../images/common/message.png) no-repeat;
           background-size:100% 100%;
       }
        .aTab:nth-child(3) i{
           background:url(../images/common/public.png) no-repeat;
           background-size:100% 100%;
       }
        .aTab:nth-child(4) i{
           background:url(../images/common/my.png) no-repeat;
           background-size:100% 100%;
       }
    }
     /*----------footer end--------------*/
     /*----------login start--------------*/
    .login{
        width:100%;
        height:100%;
        background:#fff;
        input{
            width:80%;
            border:1px solid #ddd;
            font-size:12px;
            height:35px;
            padding-left:8px;
            outline: none;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            display: block;
            margin: 40% auto 0;
        }
        .login_btn{
            width:60%;
            display: block;
            height:35px;
            background:#fc6a26;
            line-height: 35px;
            text-align: center;
            margin: 8% auto 0;
            color:#fff;
            font-size:14px;
             border-radius: 3px;
            -webkit-border-radius: 3px;
        }
    }
     /*----------login end--------------*/
}
